/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        max-width: 100vw;
    }

    .container .topbar{
        position: fixed;
    }

    .container .topbar .top-content {
        gap: 0;
    }

    /* LOGO AND HAMBURGER MENU */
    .container .topbar .top-content .left-content span {
        display: block;
    }

    .container .topbar .top-content .left-content img {
        margin-right: 0;
        margin-left: 0;
        width: 35%;
    }

    /* SEARCHBAR */
    .container .topbar .top-content{
        position: relative;
        padding: 5px;
        grid-template-columns: auto auto auto;
        width: 100vw;
    }

    .container .topbar .top-content .left-content {
        margin-left: 10px;
        gap: 10px;
    }

    .container .topbar .top-content .center-content {
        margin-left:0;
    }

    .container .topbar .top-content .right-content {
        margin: 10px;
        padding-right: 10px;
    }

    .container .topbar .top-content .center-content span {
        display: block;
        font-size: 30px;
        margin-top: 6px;
        margin-left: 0;
    }

    .container .topbar .top-content .center-content .search {
        display: none;
    }

    .container .topbar .top-content .right-content p {
        display: none;
    }

    .container .topbar .top-content .right-content .profile img {
        margin-top: 5px;
        width: 40px;
        margin-left: 15px;
    }

    .container .topbar .top-content .right-content .profile .profile-dropdown {
        right: 15px;
        width: 200px;
    }

    .container .topbar .top-content .right-content .profile .profile-dropdown ul li a p{
        font-size: 15px;
        display: block;
    }


    /* MOBILE SEARCH BAR */
    .container .mobile-search  {
        position: absolute;
        top: -15px;
        width: 100%;
        margin-top: 15px;
        padding: 15px 0;
        z-index: 50;
        text-align: center;
        background-color: var(--black);
    }

    .container .mobile-search.hide {
        display: none;
    }

    .container .mobile-search.show {
        display: block;
    }

    .container .mobile-search input {
        width: 200px;
        padding: 5px 15px;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: var(--black);
        color: var(--bgcolor);
    }

    .container .mobile-search input[type="search"]::-webkit-search-cancel-button{
        -webkit-appearance: none;
        appearance: none;
    }

    .container .mobile-search span {
        color: var(--bgcolor);
        font-size: 28px;
        margin-top: 5px;
    }

    .container .mobile-search span.mobile-clear {
        display: none;
    }

    /* NAVBAR */
    .container .desktop-nav {
        display: none;
    }

    .container .navbar {
        background-color: var(--bgcolor);
        z-index: 100;
        margin-top: 80px;
    }

    .container .navbar.hide {
        display: none;
    }

    .container .navbar.show {
        display: block;
    }

    /* MAIN-CONTENT */
    .container .main-content {
        margin: 0 10px;
        width: 100%;
    }

    .container .main-content .category {
        margin-right: 5px;
    }

    /* HEADING */
    .container .main-content header h1 {
        font-size: 2rem;
    }

    .container .main-content header .recent {
        margin-right: 5px;
    }

    .overlay-icons {
        padding-right: 15px;
    }

    /* AUDIO PLAY BAR */
    .controls {
        /* padding: 5px; */
    }

    .audio-controls-bar .controls .control-right span {
        font-size: 25px;
    }

    .audio-controls-bar .controls .control-center .bar-icons span {
        font-size: 25px;
    }
    
    span#play-pause-button {
        font-size: 30px;
    }

    .control-center, .control-right {
        gap: 5px;
    }

    #current-artist, #current-title  {
        font-size: 15px;
    }

    #current-artist {
        display: block;
    }

    .song-info {
        text-align: center;
    }

    /* CATEGORY AND ARTIST SECTION */
    .container .main-content .category-content .categories .category a img,
    .container .main-content .artist-content .artists .artist a img {
        width: 100px;
    }

    /* TITLE LINK AND MINISTER PAGE */
    .container .main-content .song-content,
    .container .main-content .minister-content {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .container .main-content .song-content .song-details,
    .container .main-content .minister-content .minister-details {
        text-align: center;
    }

    .container .main-content .song-content img,
    .container .main-content .minister-content img {
        width: 200px;
        height: 200px;
    }

    /* All Messages */
    .container .main-content .all-messages .message {
        flex-wrap: no-wrap;
    }

    .container .main-content .all-messages .message .music {
        width: 100%;
    }
    
    /* MINISTERS AND MEETINGS*/
    .container .main-content .ministers,
    .container .main-content .meetings {
        justify-content: center;
    }

    .container .main-content .ministers .minister a img {
        width: 120px;
    }

    /* ALL MESSAGES - ADMIN */
    .container .main-content .audio-container table{
        margin-right: 5px;
    }

    /* UPLOAD MESSAGES */
    .upload-container {
        width: 100vw;
    }



}

@media screen and (min-width: 481px) and (max-width: 767px) {
    /* TITLE LINK PAGE */
    .container .main-content .song-content {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .container .main-content .song-content .song-details {
        text-align: center;
    }

    .container .main-content .song-content img {
        width: 200px;
        height: 200px;
    }

    /* MINISTERS AND MEETINGS*/
    .container .main-content .ministers,
    .container .main-content .meetings {
        justify-content: center;
    }

     /* UPLOAD MESSAGES */
    .upload-container {
        width: 100vw;
        padding-left: 0;
        /* margin-right: 20px; */
    }

    .upload-container form {
        margin-right: 15px;
    }
}

/* MOBILE AND TABLET */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .container {
        max-width: 100vw;
    }

    /* TOP BAR */
    .container .topbar .top-content {
        grid-template-columns: 15% auto 10%;
        max-width: 100vw;
        padding-right: 10px;
    }

    .container .topbar .top-content .left-content span {
        display: block;
    }


    .container .topbar .top-content .left-content img {
        width: 80px;
        margin: 0;
    }

    .container .topbar .top-content .center-content {
        margin-left: 0;
        justify-content: center;
    }

    .container .topbar .top-content .center-content .search {
        width: 60%;
    }

    .container .topbar .top-content .center-content .search input {
        width: 90%;
    }

    .container .topbar .top-content .right-content {
        justify-content: end;
    }

    .container .topbar .top-content .right-content p{
        display: none;
    }

    .container .topbar .top-content .right-content .profile .profile-dropdown ul li a p{
        font-size: 15px;
        display: block;
    }

    .profile-dropdown {
        margin-top: 15px;
        margin-right: 5px;
    }

    /* .container .desktop-nav {
        display: none;
    } */

    .container .desktop.hide {
        display: none;
    }

    .container .desktop.show {
        display: block;
    }

    /* MAIN-CONTENT */
    .container .main-content {
        margin-left: 20px;
        /* margin-right: 20px; */
        width: 96%;
    }

     /* All Messages */
    .container .main-content .all-messages .message .music {
        width: 47%;
    }

    /* MINISTERS AND MEETINGS*/
    .container .main-content .ministers,
    .container .main-content .meetings {
        justify-content: center;
    }
}

/* TABLET */
/* @media screen and (min-width: 768px) and (max-width: 1024px) {
    
} */

/* @media screen and (min-width: 1025px) and (max-width: 1280px) { */
@media screen and (min-width: 1025px) and (max-width: 1823px) {
    .container {
        width: 100vw;
    }

    .container .topbar .top-content {
        max-width: 100vw;
        grid-template-columns: 15% auto 20%;
        margin-right: 10px;
    }

    .container .topbar .top-content .left-content img {
        width: 55%;
        margin-left: 10px;
    }

    .container .topbar .top-content .center-content {
        margin-left: 10px;
    }

    .container .topbar .top-content .center-content .search {
        justify-items: start;
        width: 50%;
    }
    
    .container .topbar .top-content .center-content .search input {
        font-size: 20px;
        width: 80%;
    }

    .container .topbar .top-content .right-content {
        justify-content: end;
        gap: 10px;
        padding-right: 15px;
    }

    .container .topbar .top-content .right-content p {
        font-size: 25px;
    }

    .container .topbar .top-content .right-content .profile img {
        width: 50px;
    }

    .profile-dropdown {
        margin-top: 10px;
        margin-right: 25px;
    }

    .container .topbar .top-content .right-content .profile-dropdown ul li a p,
    .container .desktop-nav ul .navitem a p {
        font-size: 20px;
    }

    .container .topbar .top-content .right-content .profile-dropdown ul li a span,
    .container .topbar .top-content .center-content .search span ,
    .container .desktop-nav ul .navitem a span {
        font-size: 30px;
    }

    .desktop-nav.hide {
        display: block;
    }

    .container .desktop-nav {
        margin-top: 80px;
    }

    /* All Messages */
    /* .container .main-content .all-messages .message .music {
        width: 31%;
    } */
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    /* All Messages */
    .container .main-content .all-messages .message .music {
        width: 41%;
    }
}


@media screen and (min-width: 1281px) and (max-width: 1823px){
    .container .topbar .top-content .left-content img {
        width: 35%;
        margin-left: 30px;
    }

    .container .topbar .top-content .right-content {
        gap: 20px;
    }

    .container .topbar .top-content .center-content .search{
        width: 90%;
    }

    .container .topbar .top-content .center-content .search input {
        font-size: 18px;
    }

    .container .topbar .top-content .right-content p{
        font-size: 23px;
    }  

    .container .topbar .top-content .right-content .profile img{
        width: 32px;
    }

    .container .topbar .top-content .right-content .profile .profile-dropdown ul li a p,
    .container .topbar .top-content .center-content .search input {
        font-size: 18px;
    }

    .container .topbar .top-content .right-content .profile .profile-dropdown ul li a span,
    .container .desktop-nav ul .navitem a span,
    .container .topbar .top-content .center-content .search span {
        font-size: 25px;
    }

    .container .desktop-nav ul .navitem a p {
        font-size: 15px;
    }

    /* All Messages */
    /* .container .main-content .all-messages .message .music {
        width: 41%;
    } */

}

/* BIGGER SCREENS */
@media screen and (min-width: 1824px) {
    body {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .container {
        max-width: 70%;
    }

    .container .topbar {
        width: 80%;
    }

    .container .topbar .top-content {
        width: 80%;
        grid-template-columns: 20% auto 20%;
    }

    .container .topbar .top-content .right-content {
        justify-content: end;
        gap: 10px;
    }  

    .container .topbar .top-content .right-content .profile .profile-dropdown {
        right: 20%;
    }

    .desktop-nav.hide {
        display: block;
    }

    .container .desktop-nav ul li a p { 
        font-size: 20px;
    }

}